        <script src="/javascripts/jquery-2.1.1.min.js"></script>
        <script src="/javascripts/jquery-ui.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <script src="/javascripts/script.js"></script>
        <script>
            $(function () {
                eventOrdering.init();
            });
        </script>
    </body>
</html>
