<% include header %>

<div class="container-fluid">

    <div class="row">

        <% if (error) { %>
        <div class="alert alert-danger" role="alert"><strong><%= error %></strong></div>
        <% } %>

        <div class="page-header">
            <h1>Membership
                <small>Event management</small>
            </h1>
        </div>

        <div div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-info-sign"></span> Event priority ordering</h3>
            </div>
            <div class="panel-body">
                <p>Drag a maximum of four events from the events list in to the priority list.</p>

                <p>Order the events priority list based on the desired priority using drag'n'drop.</p>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-star-empty"></span> Priority Events</h3>
            </div>
            <div class="panel-body">
                <ul id="eventsPriority" class="events-list">
                    <% priorityEvents.forEach(function (e){ %>

                    <% include eventDetail %>

                    <% }) %>
                </ul>
            </div>
        </div>

        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Standard Events</h3>
            </div>
            <div class="panel-body">
                <ul id="eventsBin" class="events-list">
                    <% for(group in eventGroups){ %>
                    <h4 class="group-title"><%= group[0].toUpperCase() + group.slice(1) %></h4>
                    <% eventGroups[group].forEach(function (e){ %>
                    <% include eventDetail %>
                    <% }) %>
                    <% } %>
                </ul>
            </div>
        </div>

    </div>

</div>

<% include footer %>
