<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <!--
                                                                    __                __
                                                                   |  \              |  \
       ______ ____    ______   ______ ____           ______    ____| $$ ______ ____   \$$ _______
      |      \    \  /      \ |      \    \  ______ |      \  /      $$|      \    \ |  \|       \
      | $$$$$$\$$$$\|  $$$$$$\| $$$$$$\$$$$\|      \ \$$$$$$\|  $$$$$$$| $$$$$$\$$$$\| $$| $$$$$$$\
      | $$ | $$ | $$| $$    $$| $$ | $$ | $$ \$$$$$$/      $$| $$  | $$| $$ | $$ | $$| $$| $$  | $$
      | $$ | $$ | $$| $$$$$$$$| $$ | $$ | $$       |  $$$$$$$| $$__| $$| $$ | $$ | $$| $$| $$  | $$
      | $$ | $$ | $$ \$$     \| $$ | $$ | $$        \$$    $$ \$$    $$| $$ | $$ | $$| $$| $$  | $$
       \$$  \$$  \$$  \$$$$$$$ \$$  \$$  \$$         \$$$$$$$  \$$$$$$$ \$$  \$$  \$$ \$$ \$$   \$$

      ~~~ Hacked Together in August 2014 by Chris Finch @ The Guardian. ~~~

    -->

    <script src="/javascripts/jquery-2.1.1.min.js"></script>
    <script src="/javascripts/jquery-ui.min.js"></script>
    <script src="/javascripts/script.js"></script>

    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/jquery-ui.min.css' />
    <link rel='stylesheet' href='/stylesheets/jquery-ui.structure.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>

    <div class="container-fluid">

      <% if (error) { %>
        <h1><%= error %></h1>
      <% } %>
      
      <div class="row">
        <div class="page-header">
          <h1>Membership admin <small>Event management</small></h1>
        </div>

        <div div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-info-sign"></span> Event priority ordering</h3>
          </div>
          <div class="panel-body">
            <p>Drag a maximum of four events from the events list in to the priority list.</p>
            <p>Order the events priority list based on the desired priority using drag'n'drop.</p>
          </div>
        </div>

      </div>

      <div class="row">

        <form id="form_id" action="/upload" method="post" enctype="multipart/form-data">

            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-star-empty"></span> Priority Events</h3>
              </div>
              <div class="panel-body">
                <ul id="eventsPriority" class="media-list">
                  <% priorityEvents.forEach(function (e){ %>

                    <% include events/event %>

                  <% }) %>
                </ul>
              </div>
            </div>

            <div class="panel panel-warning">
              <div class="panel-heading">
                <h3 class="panel-title">Standard Events</h3>
              </div>
              <div class="panel-body">
                <ul id="eventsBin" class="media-list">
                  <% events.forEach(function (e){ %>

                    <% include events/event %>

                  <% }) %>
                </ul>
              </div>
            </div>

            <!-- <input class="btn btn-primary" type="submit" name="submit" value="Submit"> -->

        </form>

      </div>

    </div>

  </body>
</html>
