<% include header %>

<div class="container">

    <div class="row">

        <div class="page-header">
            <h1>Membership
                <small>Event management - Login</small>
            </h1>
        </div>

        <% if (error && error.length > 0) { %>
        <div class="alert alert-danger" role="alert">
            <strong><%= error %></strong>
        </div>
        <% } %>

        <a href="/login/google" class="btn btn-primary btn-lg">Sign in with google</a>

    </div>

</div>

<% include footer %>
