body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#eventsPriority {
  height: 302px;
  overflow: hidden;
  margin: 0;
}

#eventsPriority .event .remove {
  display: block;
}

#eventsPriority.droppable {
  border: 1px dashed #000;
}

.event {
  position: relative;
}

.event:hover {
  background-color: #ececec;
  cursor: move;
}

.event .remove {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.event.ui-draggable-dragging {
  background-color: #f2f2f2;
  border: 1px dashed #000000;
  -moz-box-shadow: 3px 3px 20px #919191;
	-webkit-box-shadow: 3px 3px 20px #919191;
	box-shadow: 3px 3px 20px #919191;
}

.labels .label,
.labels .btn {
  float: left;
  clear: both;
  margin-bottom: 4px;
}

.labels .label:last-child,
.labels .btn:last-child {
  margin: 0;
}
